#root {
  width: 100%;
  text-align: center;
  font-family: 'Verdana', sans-serif;
}

/* Typograpgy (and general layout) */

h1 {
  font-size: 36px;
  font-weight: 700;
  font-family: "Caveat", cursive;
  margin-top: max(0.9em, 30px);
  margin-bottom: max(0.8em, 17px);
}

h2 {
  text-transform: uppercase;
  font-size: 18px !important;
  font-family: "Gafata", cursive;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 2.2em;
}

h2::before, h2::after {
  content: "";
  width: 35%;
  height: 1px;
  background-color: lightgrey;
}
label {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
}

ol {
  padding: 0;
  margin: 0;
  display:inline-flex;
  flex-wrap: wrap;
justify-content: center;
}

/* Custom-options */
.custom-option {
  width: fit-content;
  height: fit-content;
  font-size: 0; /* Elimina el espacio causado por la línea base del texto */

  list-style: none;
  display: inline-block;
  transition: transform 0.2s ease;
  

  position: relative;
}

.custom-option input {
  display: none;
}

.custom-option label {
  width: fit-content;
  height: calc(fit-content + 2px);
  font-size: 0; /* Elimina el espacio causado por la línea base del texto */

  position: relative;
  display: inline-block;
  
  
  cursor: pointer;
}

.custom-option label img { 
  object-fit: cover;
  width: 175px;
  height: 175px;
  
  position: relative;
}

.custom-option label .name {
  position: absolute;
  display: block;
  font-size: 18px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra perfectamente */
  color: white;
  font-weight: 400;
  text-align: center;
  z-index: 2;

}

/* Custom-options: interactions */

@media (min-width: 425px) {
    .custom-option:not(:has(input:checked)):hover {
    transform: scale(1.05);
  }
}


.custom-option:has(input:checked)::after {
  content: "";
  position: absolute;
  inset: 0; /* fill the option */
  border-radius: 2px;
  z-index: 999;
  /* box-shadow draws outside but doesn't affect layout width like a border at negative offsets */
  box-shadow: 0 0 0 4px black;
}

/* Save Button */
button[type="submit"] {
  margin-block: 1.5em;
  padding: 7px 15px;
  font-family: 'Caveat', cursive;
  font-size: 22px;
  font-weight: normal;
  color: grey;
  background-color: rgb(248, 247, 242);
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  border: 1px solid grey;
}


@media (max-width: 425px){
  h1 {
    font-size: 30px;
  }
}